{% macro get_url_check(path) %}
    {% if path is starting_with("http://") or path is starting_with("https://") %}
        {{ path | safe }}
    {% else %}
        {{ get_url(path=path) | safe }}
    {% endif %}
{% endmacro get_url_check %}

{% macro get_url_check_lang(path) %}
    {% if path is starting_with("http://") or path is starting_with("https://") %}
        {{ path | safe }}
    {% else %}
        {% if lang == config.default_language %}
            {{ get_url(path=path) |  safe }}
        {% else %}
            {{ get_url(path=lang ~ '/' ~ path | replace(from="//", to="/")) | safe }}
        {% endif %}
    {% endif %}
{% endmacro get_url_check %}

{%- macro remove_lang_code(path, languages) -%}
    {%- for language in languages -%}
        {%- set code = language.code -%}
        {%- if code != "default" -%}
            {%- if path is matching("^/"~code~"/") -%}
                {%- set_global tmp_path = path | trim_start_matches(pat="/"~code) -%}
                {%- break -%}
            {%- elif path is matching("^/"~code~"$") -%}
                {%- set_global tmp_path = path | trim_start_matches(pat="/"~code) -%}
                {%- break -%}
            {%- endif -%}
        {%- endif -%}
    {%- endfor -%}
    {%- if tmp_path -%}
        {{ tmp_path }}
    {%- else -%}
        {{ path }}
    {%- endif -%}
{%- endmacro remove_lang_code -%}