<div class="col-lg-4 col-md-6 col-sm-12 mb-3 d-flex">
    <div class="card text-bg-{{ config.extra.socio_project_bg }} p-0">
        <img src="{{ banner }}" class="card-img-top" alt="">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ title }}</h5>
            <h6 class="card-subtitle mb-2 text-secondary">{{ subtitle }}</h6>
            <p class="card-text">{{ description }}</p>
            <div class="card-link-box mt-auto">
                <a href="{{ project_page }}" class="card-link">{{ trans(key="project_page", lang=lang) }}</a>
                <a href="{{ github_page }}" class="card-link">GitHub</a>
            </div>
        </div>
    </div>
</div>