@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-weight: 700;
}

header {
    position: fixed;
    width: 100%;
}

.curve-header {
    overflow: hidden;
    line-height: 0;
    width: 100%;
}

.curve-header svg {
    height: 48px;
    width: 100%;
}