{% extends "base.html" %}

{% block content %}

{% if config.extra.socio_banner_display == true %}
<section class="section pt-5" style="background: {{ config.extra.socio_banner_bg }};">
    <div class="container content d-flex justify-content-center flex-column align-items-center">
        <img class="m-3" src="{{ macros::get_url_check(path=config.extra.socio_banner_logo) }}" alt="" width="{{ config.extra.socio_banner_logo_width }}">
        <h1 class="display-3">{{ trans(key="banner_heading", lang=lang) }}</h1>
        <p class="h3">{{ trans(key="banner_descr", lang=lang) }}</p>
        <a class="btn btn-{{ config.extra.socio_banner_btn }} m-3" href="#learn-more">{{ trans(key="banner_button", lang=lang) }}</a>
    </div>
    <div class="curve-section">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path class="arrow" d="M649.97 0L550.03 0 599.91 54.12 649.97 0z" class="shape-fill" style="fill: {{ config.extra.socio_banner_bg }}"></path>
        </svg>
    </div>
</section>
<a id="learn-more"></a>
{% endif %}

{{ section.content | safe }}
{% endblock content %}